/* Untuk Tablet */
@media (max-width: 1000px) {
  .column {
    width: 50%;
    margin: 10px auto;
  }
  .row {
    margin: 0 auto;
  }
}

/* Untuk Smartphone */
@media (max-width: 670px) {
  .column {
    width: 100%;
    display: block;
  }
  
  footer {
    text-align: center;
  }
  
  /* Gantikan width btn ke 100% */
  .btn {
    width:100%;
  }
  
  /* Gantikan margin-bottom facebook ke 10px */
  .facebook {
    margin-bottom: 10px;
  }
  
  /* Tambahkan CSS untuk top-wrapper */
  .top-wrapper {
    text-align:left;
    padding-top:130px;
  }
  /*HEADER RESPONSIVE*/
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .logo {
    width: 120px;
    height: 65px;
  }
  /*TOP WRAPPER RESPONSIVE*/
  .sec-text {
    background-color: rgb(233, 14, 149);
    width: 350px;
    margin:20px auto;
    border-radius: 10px;
    transition: all 0.8s;
  }
  .sec-text:hover {
    background-color: #F06292;
    transition: all 0.8s;
  }
  .btn-wrapper {
    margin:0 auto;
    width: 250px;
  }
}
