* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}


.clear {
  clear: left;
}

.container {
  width: 100%;
  padding: 0 15px 10px;
  margin: 0 auto;
  text-align: center;
}
.container-wrapper {
  width: 100%;
  padding: 0 15px 10px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.8s;
}
.container-wrapper:hover {
  background-color: rgba(255,255,255,0.8);
  transition: all 0.8s;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://raw.githubusercontent.com/yosiasiahaan/e14dts2020/master/compress.jpg);
  background-size: cover;
  color: black;
  text-align: left;
  font-family: sans-serif;
}

.first-text {
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}

@keyframes text {
  0%{
    letter-spacing: 5px;
    margin-bottom: -20px;
  }
  35%{
    letter-spacing: 25px;
    margin-bottom: -10px;
  }
  /*85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }*/
}


.first-text {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.sec-text {
  background-color: rgb(233, 14, 149);
  width: 400px;
  margin:20px auto;
  border-radius: 10px;
  transition: all 0.8s;
}
.sec-text:hover {
  background-color: #F06292;
  transition: all 0.8s;
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: black;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  transition: all 0.8s;
}
/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container-lesson {
  padding: 0 16px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.btn:hover {
  opacity: 1;
  transition: all 0.8s;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color:rgba(255,255,255,1);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 65px;
  width:180px;
  
}

.header-left {
  float: left;
}
.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(14, 13, 13);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color:rgb(233, 14, 149);
}

.ikon {
  font-size: 25px;
  float: right;
  padding: 21px 0;
}
.menu-icon {
  display: none;
}
.popup-right {
  display: none;
  position: fixed;
  margin-top: 70px;
  right: 15px;
  border-radius: 10px;
  background-color: white;
  z-index: 9;
}
.popup-right a {
  line-height: 35px;
  padding: 0 25px;
  color: rgb(14, 13, 13);
  display: block;
  float: left;
}
.popup-right span {
  margin-top: 5px;
  margin-right: 10px;
  float: right;
}
/*-----ekstra1-----*/
.ekstra1 {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading-eks1 {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading-eks1 h2 {
    font-weight: normal;
  }

  .icon {
    color : #3c3b3d;
  }
  
  .lesson {
    float: left;
    width: 24.6%;
    margin-right: 5px;
    border: 2px solid rgb(122, 116, 116);
    height: 300px;
  }

  .lesson:hover {
    border: 2px solid rgb(31, 27, 27);
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 40px;
    width: 100%;
    color: black;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 50px;
    font-size: 15px;
    color: #615b63;
  }
<<<<<<< HEAD
  
=======

>>>>>>> 6174e512eeee3f6a1e354b74e7e049b4fd068a67
/*-----ekstra2-----*/
.lesson-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.partner-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dfe4ea;
  text-align: center;
}
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.heading h2 {
  font-weight: normal;
}

/* message-wrapper */
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  padding-top: 100px;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;

}

.message-wrapper h2 {
  padding-top: 30px;
  margin-top: 200px;
  font-family: 'Montserrat', sans-serif;

}

.message-wrapper h3 {
  font-family: 'Montserrat', sans-serif;
}
.heading span {
  color: red;
}


.message:hover {
  opacity: 1.5;
  background-color: #5dca88;
  box-shadow: 0 7px #19a04f;
}

.message {
  padding: 15px 40px;
  background-color: #e90e95;
  cursor : pointer;
  box-shadow: 0 7px #d10181;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.tombol {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

/* footer */

footer img {
  width: 150px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  height: 120px;
  text-align: center;
}

.fb, .ig, .twit {
  height: 20px;
  width: 20px;
  padding right: 10px;
}
